In [4]:
import pandas as pd
import numpy as np

In [82]:
df = pd.read_csv("Clean_hospital_fee_data.csv")

In [6]:
df.head()

,Unnamed: 0,age,sex,bmi,children,smoker,region,charges,weight category
0,0,19,female,27.9,0,yes,southwest,16884.92,Over weight
1,1,18,male,33.8,1,no,southeast,1725.55,obese
2,2,28,male,33.0,3,no,southeast,4449.46,obese
3,3,33,male,22.7,0,no,northwest,21984.47,normal weight
4,4,32,male,28.9,0,no,northwest,3866.86,Over weight

In [9]:
df = df.drop('Unnamed: 0',axis=1)

In [10]:
df.head()

   age     sex   bmi  children smoker     region   charges weight category
0   19  female  27.9         0    yes  southwest  16884.92     Over weight
1   18    male  33.8         1     no  southeast   1725.55           obese
2   28    male  33.0         3     no  southeast   4449.46           obese
3   33    male  22.7         0     no  northwest  21984.47   normal weight
4   32    male  28.9         0     no  northwest   3866.86     Over weight

In [11]:
import matplotlib.pyplot as plt

In [12]:
#choose relevent data
#make dummy data
#train test split
#multiple linear regression
#random forest
#svm regression
#tune models using grid search cv
#test ensemble"

In [13]:
df2 = df.drop('weight category',axis=1)

In [14]:
df2.head()

   age     sex   bmi  children smoker     region   charges
0   19  female  27.9         0    yes  southwest  16884.92
1   18    male  33.8         1     no  southeast   1725.55
2   28    male  33.0         3     no  southeast   4449.46
3   33    male  22.7         0     no  northwest  21984.47
4   32    male  28.9         0     no  northwest   3866.86

In [15]:
df_dum = pd.get_dummies(df2)

In [16]:
df_dum.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   age               1338 non-null   int64
 1   bmi               1338 non-null   float64
 2   children          1338 non-null   int64
 3   charges           1338 non-null   float64
 4   sex_female        1338 non-null   uint8
 5   sex_male          1338 non-null   uint8
 6   smoker_no         1338 non-null   uint8
 7   smoker_yes        1338 non-null   uint8
 8   region_northeast  1338 non-null   uint8
 9   region_northwest  1338 non-null   uint8
 10  region_southeast  1338 non-null   uint8
 11  region_southwest  1338 non-null   uint8
dtypes: float64(2), int64(2), uint8(8)
memory usage: 52.4 KB

In [17]:
df3= df_dum.drop('children',axis=1)

In [19]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   age               1338 non-null   int64
 1   bmi               1338 non-null   float64
 2   charges           1338 non-null   float64
 3   sex_female        1338 non-null   uint8
 4   sex_male          1338 non-null   uint8
 5   smoker_no         1338 non-null   uint8
 6   smoker_yes        1338 non-null   uint8
 7   region_northeast  1338 non-null   uint8
 8   region_northwest  1338 non-null   uint8
 9   region_southeast  1338 non-null   uint8
 10  region_southwest  1338 non-null   uint8
dtypes: float64(2), int64(1), uint8(8)
memory usage: 41.9 KB

In [20]:
from sklearn.model_selection import train_test_split

In [22]:
X = df3.drop('charges',axis=1)

In [23]:
y= df3.charges.values

In [24]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [25]:
#multiple linear regression

In [26]:
from sklearn.linear_model import LinearRegression

In [28]:
reg = LinearRegression().fit(X,y)

In [30]:
reg.score(X,y)

0.7487006243372645

In [31]:
lm = LinearRegression()

In [35]:
reg=lm.fit(X_train,y_train)

In [36]:
from sklearn.model_selection import cross_val_score

In [37]:
reg.score(X_test,y_test)

0.7800861692540626

In [39]:
scores = cross_val_score(reg, X_test, y_test, cv=5)

In [40]:
scores

array([0.82305018, 0.7230892 , 0.76652017, 0.68152966, 0.79269046])

In [41]:
scores.mean()

0.7573759348354732

In [42]:
from sklearn.ensemble import RandomForestRegressor

In [43]:
rf = RandomForestRegressor()

In [58]:
randsc = rf.fit(X_train,y_train)

In [45]:
scores = cross_val_score(randsc, X_test, y_test, cv=5)

In [46]:
scores.mean()

0.8316643920277007

In [47]:
randsc.score(X_test,y_test)

0.8417649304785617

In [52]:
from sklearn import svm

In [69]:
clf = svm.SVC(kernel='rbf',C=30,gamma='auto')

In [72]:
X_train1 = X_train.drop()

ValueError: Unknown label type: 'continuous'

In [55]:
from sklearn.linear_model import SGDClassifier

In [56]:
clf = SGDClassifier(loss="hinge", penalty="l2", max_iter=5)

In [71]:
clf.fit(X_train,y_train)

ValueError: Unknown label type: 'continuous'

In [59]:
from sklearn.svm import SVR

In [60]:
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler

In [62]:
svmodl = make_pipeline(StandardScaler(), SVR(C=1.0, epsilon=0.2))

In [64]:
rty=svmodl.fit(X_train,y_train)

In [65]:
rty.score(X_test,y_test)

-0.0685531021122816

In [66]:
scores = cross_val_score(rty, X_test, y_test, cv=5)

In [67]:
scores.mean()

-0.13685698557688353

In [68]:
from sklearn.model_selection import GridSearchCV

In [83]:
lmgs=GridSearchCV(lm, param_grid={'fit_intercept':('True','False'), 'n_jobs':[1,2,3,4,5]})

In [84]:
lmgs.fit(X_train,y_train)

GridSearchCV(estimator=LinearRegression(),
             param_grid={'fit_intercept': ('True', 'False'),
                         'n_jobs': [1, 2, 3, 4, 5]})

In [85]:
df5 = pd.DataFrame(lmgs.cv_results_)

In [86]:
df5

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_fit_intercept,param_n_jobs,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.007363,0.000362,0.005091,0.000425,True,1,"{'fit_intercept': 'True', 'n_jobs': 1}",0.713066,0.802661,0.718515,0.659882,0.76301,0.731427,0.048362,1
1,0.007568,0.001008,0.004786,0.001167,True,2,"{'fit_intercept': 'True', 'n_jobs': 2}",0.713066,0.802661,0.718515,0.659882,0.76301,0.731427,0.048362,1
2,0.005945,0.001034,0.004387,0.001351,True,3,"{'fit_intercept': 'True', 'n_jobs': 3}",0.713066,0.802661,0.718515,0.659882,0.76301,0.731427,0.048362,1
3,0.009373,0.005293,0.003574,0.000770,True,4,"{'fit_intercept': 'True', 'n_jobs': 4}",0.713066,0.802661,0.718515,0.659882,0.76301,0.731427,0.048362,1
4,0.005793,0.000403,0.003989,0.000630,True,5,"{'fit_intercept': 'True', 'n_jobs': 5}",0.713066,0.802661,0.718515,0.659882,0.76301,0.731427,0.048362,1
5,0.005785,0.000747,0.003790,0.000399,False,1,"{'fit_intercept': 'False', 'n_jobs': 1}",0.713066,0.802661,0.718515,0.659882,0.76301,0.731427,0.048362,1
6,0.005800,0.000407,0.003378,0.000501,False,2,"{'fit_intercept': 'False', 'n_jobs': 2}",0.713066,0.802661,0.718515,0.659882,0.76301,0.731427,0.048362,1
7,0.005767,0.000447,0.003371,0.000539,False,3,"{'fit_intercept': 'False', 'n_jobs': 3}",0.713066,0.802661,0.718515,0.659882,0.76301,0.731427,0.048362,1
8,0.005993,0.000013,0.003581,0.000484,False,4,"{'fit_intercept': 'False', 'n_jobs': 4}",0.713066,0.802661,0.718515,0.659882,0.76301,0.731427,0.048362,1
9,0.005810,0.000385,0.003384,0.000481,False,5,"{'fit_intercept': 'False', 'n_jobs': 5}",0.713066,0.802661,0.718515,0.659882,0.76301,0.731427,0.048362,1

In [88]:
randomfst = GridSearchCV(rf, param_grid={'n_estimators':[60,80,100],'criterion': ('mae','mse')})

In [89]:
randomfst.fit(X_train,y_train)

GridSearchCV(estimator=RandomForestRegressor(),
             param_grid={'criterion': ('mae', 'mse'),
                         'n_estimators': [60, 80, 100]})

In [90]:
df6 = pd.DataFrame(randomfst.cv_results_)

In [91]:
df6

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,1.914852,0.023862,0.016585,0.001427,mae,60,"{'criterion': 'mae', 'n_estimators': 60}",0.801934,0.880658,0.804080,0.781555,0.800948,0.813835,0.034381,5
1,2.632621,0.031350,0.021420,0.001591,mae,80,"{'criterion': 'mae', 'n_estimators': 80}",0.800846,0.879730,0.813645,0.784998,0.806595,0.817163,0.032679,1
2,3.252089,0.113848,0.024750,0.001432,mae,100,"{'criterion': 'mae', 'n_estimators': 100}",0.802192,0.885815,0.808957,0.778573,0.800255,0.815158,0.036768,3
3,0.375900,0.015798,0.017545,0.001527,mse,60,"{'criterion': 'mse', 'n_estimators': 60}",0.799483,0.885652,0.814032,0.759965,0.808769,0.813580,0.040721,6
4,0.531423,0.033935,0.024058,0.003406,mse,80,"{'criterion': 'mse', 'n_estimators': 80}",0.798408,0.882606,0.816792,0.761475,0.818196,0.815495,0.039301,2
5,0.627197,0.035863,0.025108,0.001901,mse,100,"{'criterion': 'mse', 'n_estimators': 100}",0.799749,0.887252,0.821355,0.753171,0.809255,0.814156,0.043233,4

In [92]:
#random forest best = criterion mae, n_estimators =80

In [93]:
from sklearn.linear_model import LogisticRegression

In [94]:
logitec=GridSearchCV(LogisticRegression, param_grid={'penalty': ('l1', 'l2', 'elasticnet'), 'solver':('newton-cg', 'lbfgs', 'liblinear', 'sag', 'saga')})

In [96]:
logitec.fit(X_train,y_train)

TypeError: Cannot clone object. You should provide an instance of scikit-learn estimator instead of a class.

In [98]:
LogisticRegression().fit(X_train,y_train)

ValueError: Unknown label type: 'continuous'