In [99]:
import pandas as pd
import numpy as np

In [100]:
df = pd.read_csv("Clean_hospital_fee_data.csv")

In [6]:
df.head()

,Unnamed: 0,age,sex,bmi,children,smoker,region,charges,weight category
0,0,19,female,27.9,0,yes,southwest,16884.92,Over weight
1,1,18,male,33.8,1,no,southeast,1725.55,obese
2,2,28,male,33.0,3,no,southeast,4449.46,obese
3,3,33,male,22.7,0,no,northwest,21984.47,normal weight
4,4,32,male,28.9,0,no,northwest,3866.86,Over weight

In [101]:
df = df.drop('Unnamed: 0',axis=1)

In [102]:
df.head()

   age     sex   bmi  children smoker     region   charges weight category
0   19  female  27.9         0    yes  southwest  16884.92     Over weight
1   18    male  33.8         1     no  southeast   1725.55           obese
2   28    male  33.0         3     no  southeast   4449.46           obese
3   33    male  22.7         0     no  northwest  21984.47   normal weight
4   32    male  28.9         0     no  northwest   3866.86     Over weight

In [103]:
import matplotlib.pyplot as plt

In [12]:
#choose relevent data
#make dummy data
#train test split
#multiple linear regression
#random forest
#svm regression
#tune models using grid search cv
#test ensemble"

In [104]:
df2 = df.drop('weight category',axis=1)

In [105]:
df2.head()

   age     sex   bmi  children smoker     region   charges
0   19  female  27.9         0    yes  southwest  16884.92
1   18    male  33.8         1     no  southeast   1725.55
2   28    male  33.0         3     no  southeast   4449.46
3   33    male  22.7         0     no  northwest  21984.47
4   32    male  28.9         0     no  northwest   3866.86

In [106]:
df_dum = pd.get_dummies(df2)

In [16]:
df_dum.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   age               1338 non-null   int64
 1   bmi               1338 non-null   float64
 2   children          1338 non-null   int64
 3   charges           1338 non-null   float64
 4   sex_female        1338 non-null   uint8
 5   sex_male          1338 non-null   uint8
 6   smoker_no         1338 non-null   uint8
 7   smoker_yes        1338 non-null   uint8
 8   region_northeast  1338 non-null   uint8
 9   region_northwest  1338 non-null   uint8
 10  region_southeast  1338 non-null   uint8
 11  region_southwest  1338 non-null   uint8
dtypes: float64(2), int64(2), uint8(8)
memory usage: 52.4 KB

In [107]:
df3= df_dum.drop('children',axis=1)

In [108]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   age               1338 non-null   int64
 1   bmi               1338 non-null   float64
 2   charges           1338 non-null   float64
 3   sex_female        1338 non-null   uint8
 4   sex_male          1338 non-null   uint8
 5   smoker_no         1338 non-null   uint8
 6   smoker_yes        1338 non-null   uint8
 7   region_northeast  1338 non-null   uint8
 8   region_northwest  1338 non-null   uint8
 9   region_southeast  1338 non-null   uint8
 10  region_southwest  1338 non-null   uint8
dtypes: float64(2), int64(1), uint8(8)
memory usage: 41.9 KB

In [109]:
from sklearn.model_selection import train_test_split

In [110]:
X = df3.drop('charges',axis=1)

In [111]:
y= df3.charges.values

In [112]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [113]:
#multiple linear regression

In [114]:
from sklearn.linear_model import LinearRegression

In [115]:
reg = LinearRegression().fit(X,y)

In [116]:
reg.score(X,y)

0.7487006243372645

In [117]:
lm = LinearRegression()

In [118]:
reg=lm.fit(X_train,y_train)

In [119]:
from sklearn.model_selection import cross_val_score

In [120]:
reg.score(X_test,y_test)

0.7800861692540626

In [121]:
scores = cross_val_score(reg, X_test, y_test, cv=5)

In [122]:
scores

array([0.82305018, 0.7230892 , 0.76652017, 0.68152966, 0.79269046])

In [123]:
scores.mean()

0.7573759348354732

In [124]:
from sklearn.ensemble import RandomForestRegressor

In [125]:
rf = RandomForestRegressor()

In [126]:
randsc = rf.fit(X_train,y_train)

In [127]:
scores = cross_val_score(randsc, X_test, y_test, cv=5)

In [128]:
scores.mean()

0.8323592830240443

In [129]:
randsc.score(X_test,y_test)

0.8441466933972972

In [130]:
from sklearn import svm

In [131]:
clf = svm.SVC(kernel='rbf',C=30,gamma='auto')

In [72]:
X_train1 = X_train.drop()

ValueError: Unknown label type: 'continuous'

In [132]:
from sklearn.linear_model import SGDClassifier

In [133]:
clf = SGDClassifier(loss="hinge", penalty="l2", max_iter=5)

In [71]:
clf.fit(X_train,y_train)

ValueError: Unknown label type: 'continuous'

In [134]:
from sklearn.svm import SVR

In [135]:
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler

In [136]:
svmodl = make_pipeline(StandardScaler(), SVR(C=1.0, epsilon=0.2))

In [137]:
rty=svmodl.fit(X_train,y_train)

In [138]:
rty.score(X_test,y_test)

-0.0685531021122816

In [139]:
scores = cross_val_score(rty, X_test, y_test, cv=5)

In [140]:
scores.mean()

-0.13685698557688353

In [141]:
from sklearn.model_selection import GridSearchCV

In [142]:
lmgs=GridSearchCV(lm, param_grid={'fit_intercept':('True','False'), 'n_jobs':[1,2,3,4,5]})

In [143]:
lmgs.fit(X_train,y_train)

GridSearchCV(estimator=LinearRegression(),
             param_grid={'fit_intercept': ('True', 'False'),
                         'n_jobs': [1, 2, 3, 4, 5]})

In [144]:
df5 = pd.DataFrame(lmgs.cv_results_)

In [145]:
df5

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_fit_intercept,param_n_jobs,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.006344,0.000821,0.003727,3.384228e-04,True,1,"{'fit_intercept': 'True', 'n_jobs': 1}",0.713066,0.802661,0.718515,0.659882,0.76301,0.731427,0.048362,1
1,0.006781,0.001466,0.004410,5.148392e-04,True,2,"{'fit_intercept': 'True', 'n_jobs': 2}",0.713066,0.802661,0.718515,0.659882,0.76301,0.731427,0.048362,1
2,0.006422,0.000802,0.003151,4.209553e-04,True,3,"{'fit_intercept': 'True', 'n_jobs': 3}",0.713066,0.802661,0.718515,0.659882,0.76301,0.731427,0.048362,1
3,0.005778,0.000754,0.003601,4.743026e-04,True,4,"{'fit_intercept': 'True', 'n_jobs': 4}",0.713066,0.802661,0.718515,0.659882,0.76301,0.731427,0.048362,1
4,0.005780,0.000397,0.003195,3.973485e-04,True,5,"{'fit_intercept': 'True', 'n_jobs': 5}",0.713066,0.802661,0.718515,0.659882,0.76301,0.731427,0.048362,1
5,0.005981,0.000026,0.002989,1.521297e-05,False,1,"{'fit_intercept': 'False', 'n_jobs': 1}",0.713066,0.802661,0.718515,0.659882,0.76301,0.731427,0.048362,1
6,0.005612,0.000513,0.003364,5.135000e-04,False,2,"{'fit_intercept': 'False', 'n_jobs': 2}",0.713066,0.802661,0.718515,0.659882,0.76301,0.731427,0.048362,1
7,0.007134,0.000941,0.004588,7.982136e-04,False,3,"{'fit_intercept': 'False', 'n_jobs': 3}",0.713066,0.802661,0.718515,0.659882,0.76301,0.731427,0.048362,1
8,0.006382,0.001017,0.004189,9.773889e-04,False,4,"{'fit_intercept': 'False', 'n_jobs': 4}",0.713066,0.802661,0.718515,0.659882,0.76301,0.731427,0.048362,1
9,0.006383,0.000798,0.003990,2.861023e-07,False,5,"{'fit_intercept': 'False', 'n_jobs': 5}",0.713066,0.802661,0.718515,0.659882,0.76301,0.731427,0.048362,1

In [146]:
randomfst = GridSearchCV(rf, param_grid={'n_estimators':[60,80,100],'criterion': ('mae','mse')})

In [147]:
randomfst.fit(X_train,y_train)

GridSearchCV(estimator=RandomForestRegressor(),
             param_grid={'criterion': ('mae', 'mse'),
                         'n_estimators': [60, 80, 100]})

In [148]:
df6 = pd.DataFrame(randomfst.cv_results_)

In [149]:
df6

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,1.924351,0.036208,0.017311,0.003442,mae,60,"{'criterion': 'mae', 'n_estimators': 60}",0.803977,0.881144,0.804045,0.779915,0.792688,0.812354,0.035526,5
1,2.658573,0.099120,0.022837,0.002591,mae,80,"{'criterion': 'mae', 'n_estimators': 80}",0.798841,0.878011,0.808305,0.779116,0.799438,0.812742,0.034002,3
2,3.339568,0.061794,0.025764,0.001762,mae,100,"{'criterion': 'mae', 'n_estimators': 100}",0.799708,0.885934,0.803177,0.781978,0.806873,0.815534,0.036222,1
3,0.418274,0.047714,0.020719,0.005749,mse,60,"{'criterion': 'mse', 'n_estimators': 60}",0.799065,0.887132,0.818569,0.756610,0.797571,0.811789,0.042735,6
4,0.533151,0.040141,0.025647,0.002712,mse,80,"{'criterion': 'mse', 'n_estimators': 80}",0.797067,0.882976,0.817090,0.759730,0.814817,0.814336,0.039998,2
5,0.723387,0.058173,0.028077,0.005070,mse,100,"{'criterion': 'mse', 'n_estimators': 100}",0.798841,0.884572,0.815997,0.751400,0.811339,0.812430,0.042726,4

In [150]:
#random forest best = criterion mae, n_estimators =80

In [151]:
from sklearn.linear_model import LogisticRegression

In [152]:
logitec=GridSearchCV(LogisticRegression, param_grid={'penalty': ('l1', 'l2', 'elasticnet'), 'solver':('newton-cg', 'lbfgs', 'liblinear', 'sag', 'saga')})

In [96]:
logitec.fit(X_train,y_train)

TypeError: Cannot clone object. You should provide an instance of scikit-learn estimator instead of a class.

In [98]:
LogisticRegression().fit(X_train,y_train)

ValueError: Unknown label type: 'continuous'

In [153]:
rft = RandomForestRegressor(n_estimators=80,criterion='mae')

In [158]:
final_model=rft.fit(X_train,y_train)

In [160]:
import pickle

In [161]:
pickl = {'model': final_model}
pickle.dump( pickl, open( 'model_file' + ".p", "wb" ) )

In [165]:
file_name = "model_file.p"
with open(file_name, 'rb') as pickled:
        data = pickle.load(pickled)
        model = data['model']

In [167]:
model.predict(X_test.iloc[1,:].values.reshape(1,-1))

array([5413.11925])

In [168]:
list(X_test.iloc[1,:])

[36.0, 30.0, 1.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0]